
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage7</title>
    <script>
        alert('JavascriptResul Örneği');
    </script>
    <script src="~/Homepage/Mesaj"></script>
    <script src="~/Homepage/JSButtonMesaj"></script>
</head>
<body>
    <div> 
        <h2>Homepage 7</h2>
        <hr />
    </div>
    <div>
        <input type="button" value="Mesaj Ver.." onclick="button_click();" />
    </div>
</body>
</html>
