
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage2</title>
    <script>
        alert('return Redirect("/Homepage/Homepage"); Örneği');
    </script>
</head>
<body>
    <div> 
        <h2>Homepage2</h2>
        <hr />
    </div>
</body>
</html>
