@model List<string>
@{ 
    List<string> Kategoriler = new List<string>()
    {
        "Teknoloji",
        "Araçlar",
        "Temizlik",
        "Gıda",
        "Giyim"
    };
}

    <ul class="list-group">
        @foreach (string kategori in Model)
        {
            <li class="list-group-item">
                <a href="/Home6/Kategor?adi=@kategori">
                    @kategori
                </a>
            </li>
        }
    </ul>
